
a { text-decoration: none; color: inherit; margin: 0; padding: 0;  font-family: 'Roboto', 'Noto Sans KR', sans-serif ; } 
html{    overflow-x: hidden;   scroll-behavior: smooth;}
body { width: 100%; margin: 0; padding: 0;/* font-family: 'NanumSquare', sans-serif !important; */
    font-family: 'Roboto', sans-serif ; color: black; overflow: hidden; box-sizing: border-box; } 
.row { display: block; clear: both; content: ""; } 
.cell { float: left; } 
a{cursor: pointer;}
.conf {margin: 0; padding: 0; width: 100%; overflow: hidden;}
.container {width: 100%; box-sizing: border-box; max-width: 1200px; margin: 0 auto; padding: 0 40px; padding-top: 70px;}
.nav_container {width: 100%; box-sizing: border-box; position: fixed; font-weight: 700; padding: 0 12px; transition: 1s; border-top: 1px solid #2fc1c1; z-index: 10;}



.main_nav {position: relative; display: flex; justify-content: space-between; align-items: center;}
.main_nav .icon_wrap {display: flex; }
.main_nav .icon_wrap .logo_wrap {background-color: #2fc1c1; border-radius:  0 0 15px 15px; width: 200px; transition: 0.3s; cursor: pointer;}
.main_nav .icon_wrap .logo_wrap img { display: block; margin: 0 auto; padding: 8px 15px 10px; transition: 0.3s ease;}
.main_nav .menu_wrap {display: flex; margin-bottom: 10px; transition: 0.4s ease; margin: 0;}
.main_nav .menu_wrap ul {text-decoration: none; list-style: none; display: flex; color: white; padding: 0; margin: 0;  }
.main_nav .menu_wrap .review_ul{margin-right: 20px; position: relative;}
.main_nav .menu_wrap .review_ul::after{content: ''; width: 2px; height: 40%; background-color: white; margin-left: 20px; position: absolute; top: 50%; transform: translateY(-50%); right: -10px;}
.main_nav .menu_wrap ul li { display: block; font-size: 15px; box-sizing: border-box; text-align: center; position: relative; margin: 16px 0; padding:0 10px;}
.main_nav .menu_wrap ul li:hover {color: #2fc1c1; transition: 0.3s; }
.main_nav .menu_wrap ul li a {display: block;}

.main_nav .menu_wrap ul li .ul_wrap { height: 0; overflow: hidden;transition: 0.3s ease-in; position: absolute; top: 45px; left: 0;}
.main_nav .menu_wrap ul li .ul_wrap .sub_ul { display: block; margin: 0; font-weight: 500; background-color: #030033; overflow: hidden;  }
.main_nav .menu_wrap ul li .ul_wrap .sub_ul li {text-align: center; box-sizing: border-box; border-bottom: 1px solid #2fc1c1; padding: 0; margin: 0;}
.main_nav .menu_wrap ul li .ul_wrap .sub_ul li a {display: block; padding: 15px 12.5px ; margin: 0;}
.header_triangle {width: 0; height: 0; border-right: 22px solid #030033; border-top: 32px solid transparent; border-bottom: 32px solid transparent; position: absolute; top: 0; left: 180px; opacity: 0; transition: 0.3S;}
.nav_container .nav_line {width: 0%; height: 1px; position: absolute; left: 50%; transform: translateX(-50%); background-color: #2fc1c1; }
.scroll_sns ul {list-style: none; display: flex; position: absolute; top: -100px ;  left: 175px; transition: 0.3s;  padding: 0; padding-left: 20px;}
.scroll_sns ul li {padding:  0 15px;}
.scroll_sns ul li img{width: 24px;}

.m_nav .m_hamberger{position: relative; width: 40px; height: 4px;  background: #fff; top: 50%;  left: 50%; transform: translate(-50%,-50%);  transition: width .3s ease; cursor: pointer;}
.m_nav .m_hamberger::after, .m_nav .m_hamberger::before {content: ""; position: absolute; width: 40px; height: 4px;  background: #fff; transition: transform .3s ease;}
.m_nav .m_hamberger::before {    top: 50%; left: 50%; transform: translate(-50%,calc(-50% + 10px));}
.m_nav .m_hamberger::after {top: 50%; left: 50%; transform: translate(-50%,calc(-50% - 10px));}
.m_nav .m_nav_bg {background-color: rgba(10, 10, 10, 0.7);}
.m_nav .m_nav_list ul {margin: 0; list-style: none;}

.btn41-43 {padding: 10px 25px ; margin:0 auto; font-weight:  700; font-size: 18px; color :#2fc1c1; border-radius: 5px; background: transparent; outline: none !important;cursor: pointer; transition: all 0.3s ease; position: relative; display: block; }
.btn-41 { border: 3px solid #2fc1c1; z-index: 1; color :#2fc1c1; font-weight: 700;}
.btn-41:after { position: absolute; content: ""; width: 0; height: 100%; top: 0; right: 0; direction: rtl; z-index: -1; background: #2fc1c1; transition: all 0.3s ease;}
.btn-41:hover { color: white;}
.btn-41:hover:after { right: auto; left: 0; width: 100%;}
.btn-41:active {top: 2px;}

@keyframes headerAni {
    0% {width: 0%;}
    100% {width: 100%;}
}

@keyframes headerAniBack {
    0% {width: 100%;}
    100% {width: 0%;}
}


.main_back_gr{width: 100%; height: 100vh;background: linear-gradient(129.96deg, rgb(255, 47, 47) 10.43%, rgb(0, 4, 96) 92.78%), radial-gradient(100% 246.94% at 100% 0%, rgb(255, 255, 255) 0%, rgb(2, 0, 99) 100%), linear-gradient(58.72deg, rgb(34, 0, 242) 0%, rgb(83, 0, 0) 100%), linear-gradient(154.03deg, rgb(183, 0, 0) 0%, rgb(255, 0, 61) 74.04%), linear-gradient(341.1deg, rgb(255, 0, 0) 7.52%, rgb(0, 56, 255) 77.98%), linear-gradient(136.23deg, rgb(0, 194, 255) 11.12%, rgb(255, 0, 0) 86.47%), radial-gradient(57.37% 100% at 50% 0%, rgb(181, 0, 0) 0%, rgb(0, 52, 187) 100%);
    background-blend-mode: overlay, color-burn, screen, overlay, difference, difference, normal; position: relative;}

.main_banner{display: flex; align-items: center; justify-content: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.main_banner .main_top {border: 2px solid white; padding: 10px 25px; display: table; margin: 0 auto;}
.main_banner .main_top p {font-size: 16px; font-weight: 700; text-align: center; margin: 0; padding: 0; color: white;}
.main_banner h1 {color: white; font-size:86px; font-weight: 700; text-align: center; margin: 15px 0 50px;}
.main_banner h5 {font-size: 24px; color: white; text-align: center; font-weight: 400; margin: 0 0 50px;}